body {
  font-family: "Arial Black", sans-serif;
  text-align: center;
  background-image: url("https://images.pexels.com/photos/1334605/pexels-photo-1334605.jpeg?auto=compress&cs=tinysrgb&w=400");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.titulo {
  margin-bottom: 0px;
  margin-top: 300px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contenido {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.formulario {
  width: 40%;
}

.formulario p {
  color: #f0f0f0;
  margin-bottom: 10px;
}

input[type="text"] {
  width: calc(100% - 9px);
  border-radius: 7px;
  padding: 6px;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: #e6e6e6;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.opcion {
  padding: 5px 10px;
  background-color: #add8e6;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: black;
}

.opcion:hover {
  background-color: #87ceeb;
  transform: scale(1.05);
}

.opcion.seleccionada {
  background-color: lightgreen;
  cursor: default;
}

.resultados {
  width: 50%;
  margin-left: 0px;
}

.texto {
  color: #f0f0f0;
}
